{{template "base" .}}

{{define "title"}}{{.title}}{{end}}

{{define "main"}}
<table class="table edit-row-example">
    <thead>
        <tr>
            <th>Label</th>
            <th>Command</th>
            <th></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        {{range $index, $s := .macros}}
        <tr>
            <td>{{$s.Label}}</td>
            <td>{{$s.Command}}</td>
            <td>
                <button hx-get="/macro/{{$index}}/edit" class="btn btn-primary">
                     Edit
                </button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}