{{define "base"}}
<tr hx-trigger='cancel' class='editing' hx-get="/macro/{{.id}}">
    <td><input name='label' value='{{.macro.Label}}'></td>
    <td><input name='command' value='{{.macro.Command}}'></td>
    <td>
        <button class="btn btn-secondary" hx-get="/macro/{{.id}}">
            Cancel
        </button>
    </td>
    <td>
        <button class="btn btn-success" hx-put="/macro/{{.id}}" hx-include="closest tr">
            Save
        </button>
        {{if not .isNew}}
        <button class="btn btn-danger" hx-confirm="Are you sure?" hx-delete="/macro/{{.id}}" hx-include="closest tr">
            Delete
        </button>
        {{end}}
    </td>
</tr>
{{end}}